* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  color: var(--text);
}

:root {
  --main-color: #222831;
  --second-color: #393e46;
  --third-color: #b4b2ae9d;
  --fourth-color: #dfd0b8;
  --fifth-color: #7cf03d;
  --text: #ffffffe1;
}
::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #777571;
}

body {
  overflow-x: hidden;
  background: var(--main-color);
}

#cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  pointer-events: none;
  background-color: var(--fifth-color);
  translate: -50% -50%;
  transition: opacity 0.3s ease;
  filter: blur(10px);
}

#logo {
  width: 250px;
  user-select: none;
}

#page1 {
  width: 100%;
  min-height: 100vh;
}

nav {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 2vw;
  user-select: none;
}

.links {
  display: flex;
  gap: 2vw;
}

.links h4 {
  overflow: hidden;
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 20px;
  font-size: 22px;
  border: var(--text) solid 2px;
  border-radius: 50px;
  transition: all ease 0.33s;
}

.links h4 a {
  text-decoration: none;
  color: var(--text);
  z-index: 9;
  position: relative;
}

.links h4::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #7cf03d;
  bottom: -100%;
  left: 0;
  transition: all ease 0.33s;
  border-radius: 50%;
}

.links h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

.links h4:hover a {
  color: black;
}

.links h4:hover {
  border: var(--fifth-color) solid 2px;
  box-shadow: 0 0 100px var(--fifth-color);
  transition: all ease 0.4s;
}
.magnet-button {
  transition: transform 0.12s cubic-bezier(0.22, 1, 0.36, 1);
}

#hero {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 50px 50px;
  border-bottom: var(--third-color) solid 1px;
}
.right {
  display: flex;
  user-select: none;
  line-height: 8vw;
  text-align: end;
  font-size: 10vh;
}
.left {
  user-select: none;
  font-size: 3vh;
  width: 27vw;
}
.video-wrapper {
  position: relative;
  width: 125%;
}
#page1 video {
  position: absolute;
  border-radius: 30px;
  margin-top: 4vw;
  width: 100%;
  right: 37vw;
}

#hero-shape {
  width: 60vw;
  height: 40vw;
  position: absolute;
  right: 0;
  top: 83vh;
}
.hero1 {
  background-color: var(--fifth-color);
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background: linear-gradient(#7cf03d, #8ce95a);
  filter: blur(20px);
  position: absolute;
}
.hero2 {
  position: absolute;
  background-color: var(--fifth-color);
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  filter: blur(20px);
  position: absolute;
  animation: anime1 3s linear infinite alternate;
}
.hero3 {
  position: absolute;
  background-color: var(--fifth-color);
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  filter: blur(20px);
  position: absolute;
  left: 0;
  animation: anime2 5s linear infinite alternate;
}

@keyframes anime1 {
  from {
    transform: translate(60%, -9%);
  }
  to {
    transform: translate(60%, 5%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(0%, 10%);
  }
  to {
    transform: translate(3%, 0%);
  }
}
